html,body{
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
}

.gw-chat{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 290px;
    height: 415px;
    float: left;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.gw-chat-A{
    width: 100%;
    height: 80px;
    background: #fff;
    float: left;
    border-bottom: 1px solid #ccc;
}

.gw-chat-A-topo{
    height: 25px;
    width: 100%;
    background: #0d2d4a;
    float: left;
    font-weight: bold;
    color: #fff;
    font-size: 12px;
    padding-top: 3px;
}

.gw-img-perfil-suporte{
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 3px;
    z-index: 10;
    position: relative;
    top: 12px;
    left: 7px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.gw-img-perfil-suporte img{
    position: initial;
    width: 100%;
    height: 100%;
    margin-top: -28px;
}

.gw-chat-A-dados-suporte{
    position: relative;
    z-index: 10;
    width: 150px;
    height: 40px;
    left: 65px;
    top: -20px;
    color: #0d2d4a;
    overflow: hidden;
    white-space: nowrap;
}

.gw-chat-A-dados-suporte span{
    width: 100%;
    float: left;
}

.gw-chat-A-dados-suporte label{
    width: 100%;
    float: left;
    font-size: 12px;
    color: #777;
}

.gw-chat-A-buttons{
    position: absolute;
    height: 27px;
    width: 90px;
    /*left: 200px;*/
    right: 5px;
    z-index: 10;
}

.gw-chat-A-fechar{
    background-image: url(../img/icones.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -2px -721px;
    float: right;
    height: 20px;
    width: 20px;
    opacity: 0.7;
}

.gw-chat-A-fechar:hover{
    opacity: 1;
    cursor: pointer;
}

.gw-chat-A-minimizar{
    background-image: url(../img/icones.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -1px -703px;
    float: right;
    height: 20px;
    width: 20px;
    opacity: 0.7;
}

.gw-chat-A-minimizar:hover{
    opacity: 1;
    cursor: pointer;
}

.gw-chat-A-maxminizar{
    background-image: url(../img/icones.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 0px -664px;
    float: right;
    height: 20px;
    width: 20px;
    opacity: 0.7;
}

.gw-chat-A-maxminizar:hover{
    opacity: 1;
    cursor: pointer;
}

.gw-chat-B{
    width: 100%;
    height: 250px;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    border-bottom: 1px solid #ccc;
}

.gw-chat-B-question{
    display: none;
    width: 100%;
    height: 330px;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    border-bottom: 1px solid #ccc;
}

.gw-chat-B ul{
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
}

.gw-chat-B li{
    width: 100%;
    float: left;
}

.gw-chat-B-cinza{
    float: left;
    padding-right: 10px;
    margin-top: 5px;
    width: auto;
    padding-left: 5px;
    max-width: 80%;
    background: #EEE;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    border-radius: 0 5px 5px 0;
    word-break: break-all !important;
}

.gw-chat-B-cinza label{
    font-size: 12px;
    color: #777;
    line-height: 10px;
}

.gw-chat-B-cinza span{
    font-size: 12px;
}

.gw-chat-B-azul{
    float: right;
    margin-top: 5px;
    padding-right: 10px;
    width: auto;
    padding-left: 5px;
    word-break: break-all !important;
    color: #fff;
    max-width: 80%;
    background: rgba(28,102,166,1);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    border-radius: 5px 0 0 5px;
}

.gw-chat-B-azul label{
    font-size: 12px;
    color: #fff;
    line-height: 10px;
    margin-right: 6px;
}

.gw-chat-B-azul span{
    font-size: 12px;
}

.gw-chat-B-azul img{
    display: none;
    width: 15px;
    position: relative;
    margin-top: 6px;
    float: right;
}

.gw-chat-C{
    width: 100%;
    height: 82px;
    background: #fff;
    float: left;
    border-bottom: 1px solid #ccc;
}

.gw-chat-C-btn-enviar-msg{
    width: 50%;
    float: left;
    background: #0d2d4a;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    border-width: 1px;
    margin-left: 10px;
    opacity: 1;
    cursor: pointer;
}


.gw-chat-C-btn-enviar-msg:focus{
    outline: none;
}

.gw-chat-C-txt-msg{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 90%;
    max-width: 90%;
    word-break: break-all;
    margin-top: 10px;
    border: none;
    resize: none;
    box-shadow: inset 0px 0px 2px 0px rgba(28,102,166,0.5);
    border: 0.5px solid rgba(28,102,166,0.1);
    border-radius: 5px;
    padding: 5px;
}

.gw-chat-C-txt-msg:focus{
    outline: none;
    border: 0.5px solid rgba(28,102,166,0.4);
    box-shadow: inset 0px 0px 2px 0px rgba(28,102,166,0.70);
}

.gw-chat-C-chk-enter{
    margin: 0;
    margin-left: 10px;
    margin-right: 2px;
}

.gw-chat-C-lb-chk-enter{
    font-size: 10px;
    color: #777;
    float: right;
    margin-right: 26px;
}

